*{margin: 0;
    font-family: system-ui;
    padding:0;
    list-style: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.div1{
    height:80px;
    width:100%;
}
.div1 ul{
    background-color: #007CC7;
    padding: 0px 100px;
    overflow:hidden;
    padding:0;
    margin:0;
    position:fixed;
    top: 0;
    width: 100%;
}
.div1 li{
    float:right;
}
.div1 li a{
    display:block;
    text-align:center;
    text-decoration: none;
    font-weight:900;
    padding-left:0px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top:25px;
    font-size: 25px;
    color:#EEFBFB;
    text-shadow: 2px 2px 4px black;
}
.div1 li a:hover{
color:#203647  !important;
text-shadow: 2px 2px 4px White;
}

#Home{
    background-color: #12232E;
    padding-left:30px;
    padding-right: 30px;
    padding-bottom: 300px;
    padding-top: 300px;
    width: 100%;
    height: 800px;
}
.d2{
    color:#EEFBFB;
    font-size: 36px;
    text-align:center;
}
.spancolor{
    color:#4DA8DA;
}
#Blogs{
    width:100%;
    height: 800px;
    background-color: #EEFBFB;
}
.d3 h1{
    text-align:center;
    padding-top: 90px;
    text-shadow: 2px 2px 4px black ;
    font-size:36px;
    font-weight:900;
    color:#007CC7;
    
}
#About{
    background-color:#4DA8DA;
    width: 100%;
    height: 800px;
    
}
.d4 h1{
    color:#EEFBFB;
    text-align:center;
    padding-top: 90px;
    font-size:36px;
    font-weight:900;
    text-shadow: 2px 2px 4px black;
}
.d4 p{
     color:#EEFBFB;
    font-size:25px;
    text-indent: 90px;
    padding-left: 40px;
    padding-right: 40px;
    
}
#Contact{
    color:#EEFBFB;
    background-color:#203647;
    padding: 10px 30px 100px 30px;
    height:620px;
}
.d5 h1{
    text-align:center;
    padding-top: 90px;
    text-shadow: 2px 2px 4px black;
    font-size:36px;
    font-weight:900;
}
#d6{
    float:left;
    font-size:18px;
    padding-left: 200px;
}
.f{
    clear: both;
    text-align: center;
    background: #007CC7;
    padding: 8px;
    color:#EEFBFB;
    text-transform: capitalize;
}
#d7{
float:right;
font-size: 18px;
padding-right: 200px;
}
@media screen and (max-width: 600px) {
  #Home,#About,#Blogs,#contact {
    width: 100%;
    height: auto;
  }
}
nav label.logo{
       font-size:35px;
       color:white;
       line-height:80px;
       padding:0 100px;
       font-weight:bold;
       }